<div class="row justify-content-between align-items-center banner">
  <div class="col-4">
    <div class="mx-4">
      <h1 class="text-warning">Dream summer house?</h1>
      <h1>We got it! See our listings below</h1>
      <div class="text-center pt-4">
      <div>
        <%= form_tag root_path, method: :get do %>
          <%= text_field_tag :query,
            params[:query],
            class: "form-control",
            placeholder: "Find a summer house!"
          %>
          <%= submit_tag "Search", class: "btn btn-outline-warning rounded w-100 mt-3" %>
        <% end %>
      </div>
      <h1 class="text-left pt-5">Want to add your summer house?</h1>
      <%= link_to "Add a house", new_summer_house_path, class: 'btn btn-outline-warning w-100 mt-3' %>
      </div>
    </div>
  </div>
  <div class="col-8" style="overflow: hidden;">
    <%= cl_image_tag ("Mask_Group_esdgbh.png")%>
  </div>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12">
        <h2 class="m-5"> See our current listings</h2>
      </div>
    </div>
    <div class="cards mb-5">
      <% @summer_houses.each do |house| %>
          <%= link_to summer_house_path(house), { class: 'text-decoration-none'} do %>
            <div class="card-trip">
              <%= cl_image_tag house.photo.key%>
              <div class="card-trip-infos pb-2">
                <div class="d-flex justify-content-between">
                  <h2 class="mb-2"><%= house.title.capitalize %></h2>
                  <h4 class="card-trip-pricing text-warning"><%= house.price %> €</h4>
                </div>
                <div class="card-description">
                  <p class="pb-2"><%= house.description %></p>
                </div>
              </div>
            </div>
          <% end %>
      <% end %>
    </div>
  </div>
