<div class="form-container mb-5">
  <div class="row justify-content-center mt-5">
    <div class="col-6">
      <h2>Create a new summer house</h2>
        <%= simple_form_for @summer_house do |f| %>
        <%= f.input :title %>
        <%= f.input :description %>
        <%= f.input :address %>
        <%= f.input :city %>
        <%= f.input :price %>
        <%= f.input :capacity %>
        <%= f.input :photo, as: :file %>
        <%= f.submit 'Create Summer House', class: 'btn btn-warning' %>
        <%= link_to 'Go back', root_path, class: 'btn btn-outline-warning' %>
      <% end %>
    </div>
  </div>
</div>
